

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* learn how to work with the Pandas library in Python.

### Завдання:

In [1]:
import pandas as pd

Print the version and configuration of the library:

In [2]:
pd.__version__

'1.5.3'

In [23]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2e218d10984e9919f0296931d92ea851c6a6faf5
python           : 3.10.9.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 22.5.0
Version          : Darwin Kernel Version 22.5.0: Thu Jun  8 22:22:20 PDT 2023; root:xnu-8796.121.3~7/RELEASE_ARM64_T6000
machine          : arm64
processor        : arm
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.UTF-8

pandas           : 1.5.3
numpy            : 1.23.5
pytz             : 2022.7
dateutil         : 2.8.2
setuptools       : 68.0.0
pip              : 23.2.1
Cython           : None
pytest           : 7.1.2
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.1
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.10.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : 2022.11.0
gcsfs            : None
matplotlib       : 3.7.0
numba            : 0.56.4
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.0
snappy           :
sqlalchemy       : 1.4.39
tables           : 3.7.0
tabulate         : 0.8.10
xarray           : 2022.11.0
xlrd             : None
xlwt             : None
zstandard        : 0.19.0
tzdata           : None

In [4]:
df = pd.read_csv('/Users/olha/Desktop/pyth/Ecommerce Purchases.csv')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

The number of rows and columns in the data set:

In [5]:
print(f"Rows: {df.shape[0]}")
print(f"Columns: {df.shape[1]}")

Rows: 10000
Columns: 14

Check if the data set contains empty values:

In [6]:
print(df.isna().sum())

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

What is the average purchase price?

In [7]:
# Delete the lines where Purchase Price = 0
df_without_zeros = df[df['Purchase Price'] != 0]

mean_purchase_price = df_without_zeros['Purchase Price'].mean()
print('Purchase Price Mean:', round(mean_purchase_price, 2))

Purchase Price Mean: 50.36

How many people use the English language "en" on the website:

In [8]:
count = (df['Language'] == 'en').sum()
print("Number of people with 'en' as Language:", count)

Number of people with 'en' as Language: 1098

How many people have the position of "Lawyer"?

In [9]:
count = (df['Job'] == 'Lawyer').sum()
print("Number of people with 'Lawyer' as Job:", count)

Number of people with 'Lawyer' as Job: 30

How many people made a purchase in the morning and how many people made a purchase in the afternoon?

In [10]:
count_AM = (df['AM or PM'] == 'AM').sum()
count_PM = (df['AM or PM'] == 'PM').sum()
print("AM:", count_AM, 'people')
print("PM:", count_PM, 'people')

AM: 4932 people
PM: 5068 people

What are the 5 most common job titles?

In [11]:
top_5_jobs = df['Job'].value_counts().head(5)

print("Top 5 most common job titles:")
print(top_5_jobs)

Top 5 most common job titles:
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

Someone made a purchase that came from Lot: "90 Wt", and what was the purchase price for this transaction?

In [12]:
purchase_info = df[df['Lot'] == '90 WT']
print("Purchase information for Lot '90 WT':",
      "\nCompany name:", purchase_info['Company'].values[0],
      "\nPurchase Price:", purchase_info['Purchase Price'].values[0])

Purchase information for Lot '90 WT':
Company name: Bright PLC
Purchase Price: 75.1

Someone made a purchase that came from Lot: "90 Wt", and what was the purchase price for this transaction?

In [13]:
purchase_info2 = df[df['Credit Card'] == '4926535242672853']
print("Email:", purchase_info['Email'].values[0])

Email: jesse00@page.net

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [14]:
american_express_over_100 = df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 100)]
count_people = len(american_express_over_100['Email'].unique())

print("Number of people who use American Express and made purchases over $100:", count_people)

Number of people who use American Express and made purchases over $100: 0

How many people have a credit card that expires in 2025?

In [15]:
expiry_2025 = df[df['CC Exp Date'].str[-2:] == '25']
count_people = len(expiry_2025['Email'].unique())

print("Number of people with credit cards expiring in 2025:", count_people)

Number of people with credit cards expiring in 2025: 1032

What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...).

In [16]:
email_parts = df['Email'].str.split('@', expand=True)
email_domains = email_parts[1].value_counts().head(5)

print("Top 5 email domains:")
print(email_domains)

Top 5 email domains:
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 1, dtype: int64

Print a pivot table by browser (Browser Info), job (Job), and number of transactions:

In [17]:
grouped_data = df.groupby(['Browser Info', 'Job']).size().reset_index(name='Transaction Count')
grouped_data.head()

,Browser Info,Job,Transaction Count
0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,"Psychotherapist, dance movement",1
1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,Retail merchandiser,1
2,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,Firefighter,1
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 ...,Broadcast presenter,1
4,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0)...,"Development worker, international aid",1

Create a new column "Actual price", which is formed from "Purchase Price" and the markup according to the principle:
- if "Purchase Price" > 50, the markup is 20%
- if "Purchase Price" > 100, the markup is 10%
- in other cases, the markup is 30%.

In [18]:
def calculate_actual_price(purchase_price):
    if purchase_price > 100:
        return round(purchase_price * 1.10, 2)
    elif purchase_price > 50:
        return round(purchase_price * 1.20, 2)
    else:
        return round(purchase_price * 1.30, 2)

df['Actual price'] = df['Purchase Price'].apply(calculate_actual_price)

df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.77
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.88
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.23
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.65
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.38

Rank the dataset by "Language" and "Actual price" in descending order of price.

In [19]:
df['Language Rank'] = df.groupby('Language')['Actual price'].rank(ascending=False, method='min')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price,Language Rank
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.77,27.0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.88,327.0
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.23,1143.0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.65,239.0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.38,244.0

"Encode" the "Language" column (categorical variable), i.e. create indicator columns. The "Language" column should not remain in the set.

In [20]:
df = pd.get_dummies(df, columns=['Language'], drop_first=True)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Actual price,Language Rank,Language_el,Language_en,Language_es,Language_fr,Language_it,Language_pt,Language_ru,Language_zh
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,...,117.77,27.0,1,0,0,0,0,0,0,0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,...,84.88,327.0,0,0,0,1,0,0,0,0
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,...,1.23,1143.0,0,0,0,0,0,0,0,0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,...,93.65,239.0,0,0,1,0,0,0,0,0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,...,93.38,244.0,0,0,1,0,0,0,0,0

Save the final data set to a file with the csv extension.

In [21]:
output_file_path = 'final_dataset.csv'
df.to_csv(output_file_path, index=False)

print(f"Saved into file {output_file_path}")

Saved into file final_dataset.csv